<p id="notice"><%= notice %></p>

<h1>Passed Tests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passed_tests.each do |passed_test| %>
      <tr>
        <td><%= link_to 'Show', passed_test %></td>
        <td><%= link_to 'Edit', edit_passed_test_path(passed_test) %></td>
        <td><%= link_to 'Destroy', passed_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Passed Test', new_passed_test_path %>
